<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment | Django Rest Framework</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Django Rest Framework</span>
            </a>
        </header>

        <main>
            <h1>Documentacion</h1>
            <p class="fs-5 col-md-8">Para empezar con el proyecto, revisar la documentacion, de las rutas, accesos, permisos, direcciones url, entre otros</p>

            <div class="mb-5">
                <a href="/swagger" class="btn btn-primary btn-lg px-4">Ver documentacion</a>
            </div>

            <hr class="col-3 col-md-2 mb-5">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2>Empezando con el proyecto</h2>
                    <p>Para empezar creando nuestro usuario, para poder hacer uso de la API.</p>
                    <ul class="icon-list">
                        <li><a href="/users/signup">Crear Usuario</a></li>
                        <li><a href="/users" rel="noopener">Ver Usuarios</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Guias</h2>
                    <p>Simple Guia de acceso a las direcciones URL de las api, tanto en la version 01 y 02</p>
                    <ul class="icon-list">
                        <li><a href="/admin">Administracion</a></li>
                        <li><a href="/api-payments">Api de pagos</a></li>
                        <li><a href="/api-services">Api de servicios</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

</body>

</html>